```
# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Debug
Release
build/
*.cmake
Makefile

# Executables
*.exe
*.o
*.obj
*.lib
*.bin
bin/

# IDE files
.vscode/
.idea/
*.swp
*.bak
*~

# Misc
*.log
*.tmp
```